* {
    margin: 0;
    padding: 0;
}

/* ---------------Navegação----------------- */

a.nav-link {
    color: rgb(192, 65, 65);
    font-weight:500;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(102, 101, 101);
}

/* ---------------section----------------- */

.cor-section-1 {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(151, 151, 151));

}

.title-1 {
    font-size: 16px;
    font-weight: 600;
}

.title-2 {
    font-size: 60px;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgb(3, 3, 3);
    font-stretch:expanded;
    font-family: "Courier New, monospace";
}

.branco {
    color: rgb(0, 0, 0);
}


.marcador-1 {
    border: 1px solid red;
}

.marcador-2 {
    border: 1px solid blue;
}


/* Button */
.btnprincipal {
    background: #060a0a;
    background-image: -webkit-linear-gradient(top, #060a0a, #717475);
    background-image: -moz-linear-gradient(top, #060a0a, #717475);
    background-image: -ms-linear-gradient(top, #060a0a, #717475);
    background-image: -o-linear-gradient(top, #060a0a, #717475);
    background-image: linear-gradient(to bottom, #060a0a, #717475);
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    background: #6e6e6e;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    border: none;
    margin-bottom: 30px;
  }
  
  .btnprincipal:hover {
    background: #9b9c9c;
    text-decoration: none;
    cursor: pointer;
  }

/* Section - 2 */
.titulo-sobre-1 {
    font-family: 'Courier New', Courier, monospace;
    padding: 50px 0 0 20px;
    font-size: 17px;
    letter-spacing: 3px;
}

.titulo-sobre-2 {
    font-family: Courier New;
    padding: 15px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
    font-stretch: 10;
}

.titulo-sobre-3 {
    padding: 10px;
}

.alinhamento-decaindo {
    text-align: center;
}

/* section - 3 */

.container-2 {
    
    border: 1px solid red;
}

.img-background-1 {
    background-image: url(../img/foto-1.jpg);
    height: 400px;
    width: 400px;
    background-size: 700px;
}

.img-background-2 {
    background-image: url(../img/foto-2.jpg);
    height: 400px;
    width: 400px;
    background-size: 700px;
}

.img-background-3 {
    background-image: url(../img/foto-3.jpg);
    height: 400px;
    width: 400px;
    background-size: 700px;
}

.img-background-4 {
    background-image: url(../img/foto-4.jpg);
    height: 400px;
    width: 400px;
    background-size: 700px;
}

.img-background-5 {
    background-image: url(../img/foto-5.jpg);
    height: 400px;
    width: 400px;
    background-size: 700px;
}

.img-background-6 {
    background-image: url(../img/foto-6.jpg);
    height: 400px;
    width: 400px;
    background-size: 700px;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .modifica-img-principal {
        width: 450px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .modifica-img-principal {
        width: 510px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 




}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}